.navbar {
    padding: .5rem 2rem;
}

.card {
    margin: 1rem 0;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 1rem;
  }
  
  .account-img {
    height: 100px;
    width: 100px;
    margin-right: 16px;
  }
