<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    <title>Flask Blog{% if title %} - {{ title }}{% endif %}</title>
</head>

<body>

    {% set active_page = active_page|default('index') -%}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Flask Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="nav navbar-nav mr-auto">
                    <a class="nav-item nav-link {% if active_page == 'home' %} active {% endif %}" href="/">Home</a>
                    <a class="nav-item nav-link {% if active_page == 'about' %} active {% endif %}" href="/about">About</a>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="nav navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link {% if active_page == 'new_post' %} active {% endif %}" href="{{ url_for('new_post') }}">New Post</a>
                        <a class="nav-item nav-link {% if active_page == 'account' %} active {% endif %}" href="/account">Account</a>
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link {% if active_page == 'login' %} active {% endif %}" href="/login">Login</a>
                        <a class="nav-item nav-link {% if active_page == 'register' %} active {% endif %}" href="/register">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <section class="col-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} mt-3">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endwith %}
                {% block content %}{% endblock %}
            </section>
            <section class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Sidebar</h3>
                        <p class="card-text">See what's up</p>
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a class="card-link">Announcements</a></li>
                                <li class="list-group-item"><a class="card-link">Recent news</a></li>
                                <li class="list-group-item"><a class="card-link">Warnings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>