{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block content %}
    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="card-text">{{ post.content }}</p>
                <small class="card-subtitle">By <a href="{{ url_for('user_profile', username=post.author.username) }}">{{ post.author.username }}</a>, {{ post.date_posted.date() }}</small>
            </div>
        </div>
    {% endfor %}
{% endblock %}
